<template>
  <div class="content-wrapper">
    <el-form
      ref="refCreateOrEditProduct"
      :model="dataCreateOrEditProduct"
      :rules="rules"
      label-width="200px"
      style="max-width: 460px"
    >
      <el-form-item label="Name" prop="name">
        <el-input v-model="dataCreateOrEditProduct.name" type="text" />
      </el-form-item>
      <el-form-item label="Price" prop="price">
        <el-input v-model="dataCreateOrEditProduct.price" type="text" />
      </el-form-item>
      <el-form-item label="Image" prop="image">
        <div v-if="!dataCreateOrEditProduct.image">
          <input
            id="fileInput"
            type="file"
            :accept="acceptFileType"
            style="display: none"
            @change="handleChangeFile"
          />
          <div class="organization-border-input" @click="openInputFileDialog">
            <div id="dragUploadFileZone" class="organization-logo__form">
              <div
                :class="!isDragover ? 'is-dragover-logo' : ''"
                @dragover="
                  isDragover = false;
                  $event.preventDefault();
                "
                @dragleave="
                  isDragover = true;
                  $event.preventDefault();
                "
                @drop="handleDropFiles"
              ></div>
              <div>
                <div v-if="statusError === 0">
                  <span class="organization-logo__title">
                    Hình ảnh bạn muốn sử dụng làm logo </span
                  ><br />
                  <span class="organization-logo__title"> Hãy kéo và thả.</span
                  ><br />
                </div>
                <div v-else-if="statusError === 1">
                  <span class="organization-logo__title" style="color: #ef5c5c">
                    Tệp có định dạng không thể sử dụng được。</span
                  ><br />
                </div>
                <div v-else-if="statusError === 2">
                  <span class="organization-logo__title" style="color: #ef5c5c">
                    Kích thước tệp vượt quá 100 MB。</span
                  ><br />
                </div>
                <div v-if="statusError === 3">
                  <el-progress
                    class="mb-2"
                    :show-text="false"
                    :percentage="stateLoadImage"
                    color="#2E5878"
                    style="width: 70%; margin: 15% 0 0 17%"
                  />
                  <span class="organization-logo__title"> Đang tải lên </span>
                </div>
                <span v-else class="organization-logo__label">
                  Chỉ định dạng png, jpg, gif, bmp và svg có dung lượng dưới
                  100MB.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div v-else class="image-organization__form" @click="dataCreateOrEditProduct.image = ''">
          <img
            class="image-organization"
            :src="dataCreateOrEditProduct.image"
            alt=""
          />
        </div>
      </el-form-item>
    </el-form>
    <el-button
      class="textCreate"
      type="primary"
      :disabled="
        submitCreateOrEditProduct ||
        !dataCreateOrEditProduct.name ||
        !dataCreateOrEditProduct.price
      "
      @click="
        !$route.params.id
          ? createDataProduct('refCreateOrEditProduct')
          : editDataProduct('refCreateOrEditProduct')
      "
      style="margin-left: 200px; margin-bottom: 30px"
    >
      {{ !$route.params.id ? "Tạo" : "Sửa" }}
    </el-button>
    <br />
  </div>
</template>
<script>
import { LOADING } from "@/utils/constant";
import { mapMutations, mapState } from "vuex";
import Helper from "@/helpers";

export default {
  name: "CreateOrEditProduct",
  data() {
    return {
      rules: {
        name: [
          {
            required: true,
            message: "Vui lòng nhập tên",
          },
        ],
        price: [
          {
            required: true,
            message: "Vui lòng nhập giá",
          },
        ],
      },
      dataCreateOrEditProduct: {},
      submitCreateOrEditProduct: false,
      statusError: 0,
      stateLoadImage: 100,
      isDragover: true,
      acceptFileType: ["jpg", "jpeg", "png"],
    };
  },
  created() {
    this.detailDataProduct();
  },
  methods: {
    ...mapMutations({
      showLoading: LOADING,
    }),
    async uploadFiles(files) {
      if (!files[0]) return null;

      const checkIsTypeFileInput = this.acceptFileType.includes(
        files[0].name.toLowerCase().split(".").pop()
      );

      if (!checkIsTypeFileInput) {
        return (this.statusError = 1);
      }

      if (files[0].size > 10000000) {
        return (this.statusError = 2);
      }

      this.statusError = 3;
      this.dataCreateOrEditProduct.image = URL.createObjectURL(files[0]);

      if (this.stateLoadImage === 100) {
        return (this.statusError = 0);
      }
    },
    openInputFileDialog() {
      document.getElementById("fileInput").click();
    },
    handleDropFiles(event) {
      event.preventDefault();
      document
        .getElementById("dragUploadFileZone")
        .classList.remove("drag-zone-active");
      this.uploadFiles([...event.dataTransfer.files]);
      return (this.isDragover = true);
    },
    handleChangeFile(event) {
      this.uploadFiles([...event.target.files]);
    },

    async detailDataProduct() {
      if (!this.$route.params.id) return;

      this.showLoading(true);
      try {
        await this.$store.dispatch("storeProduct/detailProduct", {
          vue: this,
          id: this.$route.params.id,
        });
        this.dataCreateOrEditProduct = this.detailProductData;
      } catch (error) {
        if (error.response) {
          await Helper.handleError(this, error.response);
        }
      }

      return this.showLoading(false);
    },

    async createDataProduct(formName) {
      await this.$refs[formName].validate(async (valid) => {
        if (valid) {
          this.showLoading(true);
          this.submitCreateOrEditProduct = true;
          try {
            await this.$store.dispatch("storeProduct/createProduct", {
              vue: this,
              payload: this.dataCreateOrEditProduct,
            });
            await this.$router.push({ name: "ListProduct" });
            Helper.handleSuccess(this, "Tạo sản phẩm mới thành công");
          } catch (error) {
            if (error.response) {
              await Helper.handleError(this, error.response);
            }
          }
          this.submitCreateOrEditProduct = false;

          return this.showLoading(false);
        }
        return false;
      });
    },

    async editDataProduct(formName) {
      this.$refs[formName].validate(async (valid) => {
        if (valid) {
          this.showLoading(true);
          this.submitCreateOrEditProduct = true;
          try {
            this.dataCreateOrEditProduct.role = this.roleUser;
            await this.$store.dispatch("storeProduct/editProduct", {
              vue: this,
              payload: this.dataCreateOrEditProduct,
              id: this.$route.params.id,
            });
            await this.$router.push({ name: "ListProduct" });
            Helper.handleSuccess(
              this,
              "Thay đổi thông tin sản phẩm thành công"
            );
          } catch (error) {
            if (error.response) {
              await Helper.handleError(this, error.response);
            }
          }
          this.submitCreateOrEditProduct = false;

          return this.showLoading(false);
        }
        return false;
      });
    },
  },
  computed: {
    ...mapState({
      detailProductData: (state) => state.storeProduct.detailDataProduct,
    }),
  },
};
</script>
<style>
.image-organization__form {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  border: 2px solid rgba(46, 88, 120, 0.3);
}
.image-organization {
  width: 168px;
  height: 168px;
  margin: 15px;
}
.organization-logo__title {
  font-size: 14px;
  color: #2e5878;
  font-weight: 600;
}
.organization-logo__label {
  font-size: 8px;
  color: #2e5878;
  font-weight: 600;
}
.organization-logo__form {
  width: 280px;
  height: 105px;
  text-align: center;
  border: 2px dashed #2e5878;
}
.organization-border-input {
  width: 315px;
  height: 140px;
  padding: 16px;
  border: 1px solid #2e5878;
}
.is-dragover-logo {
  background: rgba(46, 88, 120, 0.3);
}
</style>
