<template>
  <div class="content-wrapper">
    <div class="container-fluid" style="padding-top: 12px;">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">DANH MỤC SẢN PHẨM</h3>
            </div>

            <div class="card-body">
              <div
                id="example2_wrapper"
                class="dataTables_wrapper dt-bootstrap4"
              >
                <div class="row">
                  <div class="col-sm-12 col-md-6"></div>
                  <div class="col-sm-12 col-md-6"></div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <el-table :data="tableDataProduct" style="width: 100%">
                      <el-table-column prop="name" label="Name" width="180" />
                      <el-table-column prop="price" label="Price" />
                      <el-table-column prop="like" label="Like">
                        <template #default="data">
                          <span>{{ data.row.like ?? 0 }}</span>
                        </template>
                      </el-table-column>
                      <el-table-column prop="image" label="Image">
                        <template #default="data">
                          <img
                            :src="data.row.image"
                            style="width: 150px; height: 100px"
                          />
                        </template>
                      </el-table-column>
                      <el-table-column label="Task">
                        <template #default="data">
                          <router-link :to="{ name: 'CreateProduct' }">
                            <button type="submit" class="btn btn-success">
                              <span class="material-icons-round">add</span>
                            </button></router-link
                          >
                          <router-link
                            :to="{
                              name: 'EditProduct',
                              params: { id: data.row.id },
                            }"
                          >
                            <button
                              type="submit"
                              class="btn btn-default btn-flat"
                            >
                              <span class="material-icons-round">edit</span>
                            </button>
                          </router-link>
                          <button
                            type="submit"
                            class="btn btn-danger"
                            @click="
                              handleIdDelete(data.row.id);
                              dialogListProduct = true;
                            "
                          >
                            <span class="material-icons-round">delete</span>
                          </button>
                        </template>
                      </el-table-column>
                    </el-table>
                  </div>
                </div>
                <el-pagination
                  v-model:currentPage="pagination.pageNumber"
                  :total="pagination.totalPage"
                  :page-size="pagination.pageSize"
                  layout="prev, pager, next"
                  style="float: right"
                  @click="listDataProduct()"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <el-dialog
      v-model="dialogListProduct"
      title="Tips"
      width="30%"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
    >
      <span>Bạn có chắc chắn muốn xoá?</span>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="dialogListProduct = false">Cancel</el-button>
          <el-button
            type="primary"
            @click="
              deleteDataProduct(idDelete);
              dialogListProduct = false;
            "
          >
            Confirm
          </el-button>
        </span>
      </template>
    </el-dialog>
  </div>
</template>

<script>
import { LOADING } from "@/utils/constant";
import { mapState, mapMutations } from "vuex";
import Helper from "@/helpers";

export default {
  name: "ListProduct",
  data() {
    return {
      tableDataProduct: [],
      pagination: {
        pageNumber: 1,
        pageSize: 10,
        totalPage: 0,
      },
      dialogListProduct: false,
      idDelete: null,
    };
  },
  methods: {
    ...mapMutations({
      showLoading: LOADING,
    }),
    async listDataProduct() {
      this.showLoading(true);
      try {
        await this.$store.dispatch("storeProduct/listProduct", {
          vue: this,
          payload: this.pagination,
        });
        this.pagination.totalPage = this.listProductData.meta.total;
        this.tableDataProduct = this.listProductData.data;
      } catch (error) {
        if (error.response) {
          await Helper.handleError(this, error.response);
        }
      }

      return this.showLoading(false);
    },

    async deleteDataProduct(id) {
      this.showLoading(true);
      try {
        await this.$store.dispatch("storeProduct/deleteProduct", {
          vue: this,
          id: id,
        });
        await this.listDataProduct();
      } catch (error) {
        if (error.response) {
          await Helper.handleError(this, error.response);
        }
      }

      return this.showLoading(false);
    },

    handleIdDelete(id) {
      return (this.idDelete = id);
    },
  },
  created() {
    this.listDataProduct();
  },
  computed: {
    ...mapState({
      listProductData: (state) => state.storeProduct.listDataProduct,
    }),
  },
};
</script>

<style>
.el-alert {
  margin: 20px 0 0;
}
.el-alert:first-child {
  margin: 0;
}
</style>
