<template>
  <div>
    <div class="content-wrapper">
      <section class="content">
        <p class="text-store">WEBSITE BÁN HÀNG ĐIỆN TỬ UY TÍN SỐ 1 VIỆT NAM</p>
      </section>
    </div>
  </div>
</template>

<script>
export default {
  name: "HomeAdmin",
};
</script>

<style>
.text-store {
  font-size: 30px;
}
</style>
