<template>
  <div>
    <HeaderAdmin />
    <SideBarAdmin />
    <router-view />
    <FooterAdmin />
  </div>
</template>

<script>
import HeaderAdmin from "@/components/layout/views/HeaderAdmin";
import SideBarAdmin from "@/components/layout/views/SideBarAdmin";
import FooterAdmin from "@/components/layout/views/FooterAdmin";

export default {
  name: "LayoutAdmin",
  components: {
    HeaderAdmin,
    SideBarAdmin,
    FooterAdmin,
  },
};
</script>

<style></style>
