.center-div-ui {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container-login {
  margin: 0 auto;
  background: #fff;
  width: 1000px;
  border-radius: 20px;
}

.signin-content-login {
  padding: 75px 0;
  -webkit-border-radius: 20px;
  box-shadow: 0 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
}

.content-login {
  padding: 75px 0;
  -webkit-border-radius: 20px;
  box-shadow: 0 15px 17px 1px rgba(0, 0, 0, 0.05);
}

.dropdown_change--lang .el-dropdown {
  right: 0;
  top: 15px;
  position: absolute !important;
}

.dropdown_change--lang .el-button--primary {
  width: 100px;
}

.dropdown_change--lang .el-button:focus-visible {
  outline: none;
}

.button__sign-up {
  width: 115px !important;
  height: 50px !important;
  border-radius: 15px;
}

.google-style {
  width: 28px;
  height: 28px;
  color: white;
  cursor: pointer;
  margin-left: 10px;
  padding-left: 6px;
  border-radius: 5px;
  background: #e72734;
  font-size: 20px !important;
}

.cursor-pointer {
  cursor: pointer;
}
