<template>
  <div>
    <footer class="main-footer form-footer">
      <div class="float-right d-none d-sm-block"><b>Version</b> 3.2.0</div>
      <strong
        >Copyright &copy; 2014-2021
        <a href="https://adminlte.io">AdminLTE.io</a>.</strong
      >
      All rights reserved.
    </footer>
  </div>
</template>

<script>
export default {
  name: "Footer",
};
</script>

<style>
.form-footer {
  margin-left: 0 !important;
}
</style>
