<template>
  <div>
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
      <ul class="navbar-nav">
        <li class="nav-item d-none d-sm-inline-block">
          <router-link :to="{ name: 'HomeAdmin' }">
            <span class="nav-link" style="font-weight: bold">Trang chủ</span>
          </router-link>
        </li>
      </ul>

      <div class="navbar-nav ml-auto">
        <el-dropdown trigger="click" style="margin-right: 15px;">
          <span class="el-dropdown-link">
            <el-avatar
              :size="40"
              src="https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png"
            />
          </span>
          <template #dropdown>
            <el-dropdown-menu>
              <router-link :to="{ name: 'Profile' }">
                <el-dropdown-item class="clearfix"> Profile </el-dropdown-item>
              </router-link>
              <router-link :to="{ name: 'ChangePassword' }">
                <el-dropdown-item class="clearfix">
                  Đổi mật khẩu
                </el-dropdown-item>
              </router-link>
              <el-dropdown-item class="clearfix">
                <ButtonField
                  nameButton="Logout"
                  typeButton="primary"
                  @click="actionLogout()"
                />
              </el-dropdown-item>
            </el-dropdown-menu>
          </template>
        </el-dropdown>
      </div>
    </nav>
  </div>
</template>

<script>
import Helper from "@/helpers";
import { mapMutations } from "vuex";
import { LOADING } from "@/utils/constant";
import ButtonField from "@/components/common/views/ButtonField";

export default {
  name: "HeaderAdmin",
  components: {
    ButtonField,
  },
  methods: {
    ...mapMutations({
      showLoading: LOADING,
    }),
    async actionLogout() {
      this.showLoading(true);
      try {
        await this.$store.dispatch("storeAuth/logoutAccount", {
          vue: this,
        });
        window.localStorage.removeItem("x-Project-token");
        window.localStorage.removeItem("authLogin");
        Helper.handleSuccess(this, "Đăng xuất hệ thống thành công");
        await this.$router.push({ path: "/login" });
      } catch (error) {
        if (error.response) {
          await Helper.handleError(this, error.response);
        }
      }

      return this.showLoading(false);
    },
  },
};
</script>
<style></style>
