<template>
  <div>
    <ButtonField
      nameButton="Logout"
      typeButton="primary"
      @click="actionLogout()"
    />
  </div>
</template>

<script>
import Helper from "@/helpers";
import { mapMutations } from "vuex";
import { LOADING } from "@/utils/constant";
import ButtonField from "@/components/common/views/ButtonField";

export default {
  name: "Header",
  components: {
    ButtonField,
  },
  methods: {
    ...mapMutations({
      showLoading: LOADING,
    }),
    async actionLogout() {
      this.showLoading(true);
      try {
        await this.$store.dispatch("storeAuth/logoutAccount", {
          vue: this,
        });
        window.localStorage.removeItem("x-Project-token");
        window.localStorage.removeItem("authLogin");
        this.informationUser = JSON.parse(
          window.localStorage.getItem("authLogin")
        );
        Helper.handleSuccess(this, "Đăng xuất hệ thống thành công");
      } catch (error) {
        if (error.response) {
          await Helper.handleError(this, error.response);
        }
      }

      return this.showLoading(false);
    },
  },
};
</script>

<style></style>
