<template>
  <div>
    <aside class="main-sidebar sidebar-dark-primary elevation-4 sidenav-fixed">
      <a href="../../index3.html" class="brand-link">
        <img
          src="../../../assets/dist/img/AdminLTELogo.png"
          alt="AdminLTE Logo"
          class="brand-image img-circle elevation-3"
          style="opacity: 0.8"
        />
        <span class="brand-text font-weight-light">AdminLTE 3</span>
      </a>
      <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            <img
              src="../../../assets/dist/img/user2-160x160.jpg"
              class="img-circle elevation-2"
              alt="User Image"
            />
          </div>
          <div class="info">
            <router-link :to="{ name: 'Profile' }">
              {{ informationUser.name }}
            </router-link>
          </div>
        </div>

        <el-menu
          :default-active="activeIndex"
          active-text-color="#ffd04b"
          background-color="#343a40"
          class="el-menu-vertical-demo sidebar-admin"
          text-color="#fff"
        >
          <el-sub-menu index="1">
            <template #title>
              <span>Danh mục sản phẩm</span>
            </template>
            <router-link :to="{ name: 'ListProduct' }">
              <el-menu-item index="ListProduct"> Tivi </el-menu-item>
            </router-link>

            <el-menu-item index="">Điện thoại</el-menu-item>
          </el-sub-menu>
          <router-link :to="{ name: 'ListUser' }">
            <el-menu-item index="ListUser"> Quản lý khách hàng </el-menu-item>
          </router-link>
        </el-menu>
      </div>
    </aside>
  </div>
</template>

<script>
export default {
  name: "SideBarAdmin",
  data() {
    return {
      activeIndex: "HomeAdmin",
      informationUser: JSON.parse(window.localStorage.getItem("authLogin")),
    };
  },
  mounted() {
    this.activeIndex = this.$route.name;
  },
};
</script>

<style>
.sidenav-fixed {
  position: fixed !important;
}

.sidebar-admin {
  border-right: none !important;
}
</style>
