<template>
  <div class="content-wrapper">
    <el-form
      ref="refCreateOrEditUser"
      :model="dataCreateOrEditUser"
      :rules="rules"
      label-width="200px"
      style="max-width: 460px"
    >
      <el-form-item label="Name" prop="name">
        <el-input v-model="dataCreateOrEditUser.name" type="text" />
      </el-form-item>
      <el-form-item label="Email" prop="email">
        <el-input v-model="dataCreateOrEditUser.email" type="text" />
      </el-form-item>
      <el-form-item v-if="!$route.params.id" label="Password" prop="password">
        <el-input v-model="dataCreateOrEditUser.password" type="password  " />
      </el-form-item>
      <el-form-item label="PhoneNumber" prop="phone_number">
        <el-input v-model="dataCreateOrEditUser.phone_number" type="text  " />
      </el-form-item>
      <el-form-item label="Role">
        <el-radio-group v-model="roleUser">
          <el-radio label="admin">Admin</el-radio>
          <el-radio label="user">User</el-radio>
        </el-radio-group>
      </el-form-item>
    </el-form>
    <el-button
      class="textCreate"
      type="primary"
      :disabled="
        submitCreateOrEditUser ||
        !dataCreateOrEditUser.name ||
        !dataCreateOrEditUser.email ||
        !dataCreateOrEditUser.phone_number
      "
      @click="
        !$route.params.id
          ? createDataUser('refCreateOrEditUser')
          : editDataUser('refCreateOrEditUser')
      "
      style="margin-left: 200px; margin-bottom: 30px"
    >
      {{!$route.params.id ? "Tạo" : "Sửa"}}
    </el-button>
    <br />
  </div>
</template>
<script>
import Helper from "@/helpers";
import { mapMutations, mapState } from "vuex";
import { LOADING } from "@/utils/constant";

export default {
  name: "CreateOrEditUser",
  data() {
    return {
      rules: {
        name: [
          {
            required: true,
            message: "Vui lòng nhập tên",
          },
        ],
        email: [
          {
            required: true,
            message: "Vui lòng nhập email",
          },
        ],
        password: [
          {
            required: true,
            message: "Vui lòng nhập mật khẩu",
          },
        ],
        phone_number: [
          {
            required: true,
            message: "Vui lòng nhập số điện thoại",
          },
        ],
      },
      roleUser: "admin",
      dataCreateOrEditUser: {},
      submitCreateOrEditUser: false,
    };
  },
  created() {
    this.detailDataUser();
  },
  methods: {
    ...mapMutations({
      showLoading: LOADING,
    }),
    async detailDataUser() {
      if (!this.$route.params.id) return;

      this.showLoading(true);
      try {
        await this.$store.dispatch("storeUser/detailUser", {
          vue: this,
          id: this.$route.params.id,
        });
        this.dataCreateOrEditUser = this.detailUserData;
        this.roleUser = this.dataCreateOrEditUser.role;
      } catch (error) {
        if (error.response) {
          await Helper.handleError(this, error.response);
        }
      }

      return this.showLoading(false);
    },

    async createDataUser(formName) {
      await this.$refs[formName].validate(async (valid) => {
        if (valid) {
          this.showLoading(true);
          this.submitCreateOrEditUser = true;
          try {
            this.dataCreateOrEditUser.role = this.roleUser;
            await this.$store.dispatch("storeUser/createUser", {
              vue: this,
              payload: this.dataCreateOrEditUser,
            });
            await this.$router.push({ name: "ListUser" });
            Helper.handleSuccess(this, "Tạo người dùng mới thành công");
          } catch (error) {
            if (error.response) {
              await Helper.handleError(this, error.response);
            }
          }
          this.submitCreateOrEditUser = false;

          return this.showLoading(false);
        }
        return false;
      });
    },

    async editDataUser(formName) {
      this.$refs[formName].validate(async (valid) => {
        if (valid) {
          this.showLoading(true);
          this.submitCreateOrEditUser = true;
          try {
            this.dataCreateOrEditUser.role = this.roleUser;
            await this.$store.dispatch("storeUser/editUser", {
              vue: this,
              payload: this.dataCreateOrEditUser,
              id: this.$route.params.id,
            });
            await this.$router.push({ name: "ListUser" });
            Helper.handleSuccess(
              this,
              "Thay đổi thông tin người dùng thành công"
            );
          } catch (error) {
            if (error.response) {
              await Helper.handleError(this, error.response);
            }
          }
          this.submitCreateOrEditUser = false;

          return this.showLoading(false);
        }
        return false;
      });
    },
  },
  computed: {
    ...mapState({
      detailUserData: (state) => state.storeUser.detailDataUser,
    }),
  },
};
</script>
<style></style>
