<template>
  <div class="content-wrapper">
    <div class="container-fluid" style="padding-top: 12px;">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">THÔNG TIN KHÁCH HÀNG</h3>
            </div>

            <div class="card-body">
              <div
                id="example2_wrapper"
                class="dataTables_wrapper dt-bootstrap4"
              >
                <div class="row">
                  <div class="col-sm-12 col-md-6"></div>
                  <div class="col-sm-12 col-md-6"></div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <el-table :data="tableDataUser" style="width: 100%">
                      <el-table-column prop="name" label="Name" width="180" />
                      <el-table-column prop="email" label="Email" />
                      <el-table-column prop="role" label="Role">
                        <template #default="data">
                          <div v-if="data.row.role === 'admin'">Admin</div>
                          <div v-else>User</div>
                        </template>
                      </el-table-column>
                      <el-table-column prop="phoneNumber" label="Phone Number">
                        <template #default="data">
                          <div>
                            {{ data.row.phone_number }}
                          </div>
                        </template>
                      </el-table-column>
                      <el-table-column
                        label="Task"
                        width="200px"
                        align="center"
                      >
                        <template #default="data">
                          <router-link :to="{ name: 'CreateUser' }">
                            <button type="submit" class="btn btn-success">
                              <span class="material-icons-round">add</span>
                            </button></router-link
                          >
                          <router-link
                            :to="{
                              name: 'EditUser',
                              params: { id: data.row.id },
                            }"
                          >
                            <button
                              type="submit"
                              class="btn btn-default btn-flat"
                            >
                              <span class="material-icons-round">edit</span>
                            </button>
                          </router-link>
                          <button
                            type="submit"
                            class="btn btn-danger"
                            @click="
                              handleIdDelete(data.row.id);
                              dialogListUser = true;
                            "
                          >
                            <span class="material-icons-round">delete</span>
                          </button>
                        </template>
                      </el-table-column>
                    </el-table>
                  </div>
                </div>
                <el-pagination
                  v-model:currentPage="pagination.pageNumber"
                  :total="pagination.totalPage"
                  :page-size="pagination.pageSize"
                  layout="prev, pager, next"
                  style="float: right"
                  @click="listDataUser()"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <el-dialog
      v-model="dialogListUser"
      title="Tips"
      width="30%"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
    >
      <span>Bạn có chắc chắn muốn xoá?</span>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="dialogListUser = false">Cancel</el-button>
          <el-button
            type="primary"
            @click="
              deleteDataUser(idDelete);
              dialogListUser = false;
            "
          >
            Confirm
          </el-button>
        </span>
      </template>
    </el-dialog>
  </div>
</template>

<script>
import Helper from "@/helpers";
import { LOADING } from "@/utils/constant";
import { mapState, mapMutations } from "vuex";

export default {
  name: "ListUser",
  data() {
    return {
      tableDataUser: [],
      pagination: {
        pageNumber: 1,
        pageSize: 10,
        totalPage: 0,
      },
      dialogListUser: false,
      idDelete: null,
    };
  },
  methods: {
    ...mapMutations({
      showLoading: LOADING,
    }),
    async listDataUser() {
      this.showLoading(true);
      try {
        await this.$store.dispatch("storeUser/listUser", {
          vue: this,
          payload: this.pagination,
        });
        this.pagination.totalPage = this.listUserData.meta.total;
        this.tableDataUser = this.listUserData.data;
      } catch (error) {
        if (error.response) {
          await Helper.handleError(this, error.response);
        }
      }

      return this.showLoading(false);
    },

    async deleteDataUser(id) {
      this.showLoading(true);
      try {
        await this.$store.dispatch("storeUser/deleteUser", {
          vue: this,
          id: id,
        });
        await this.listDataUser();
      } catch (error) {
        if (error.response) {
          await Helper.handleError(this, error.response);
        }
      }

      return this.showLoading(false);
    },

    handleIdDelete(id) {
      return (this.idDelete = id);
    },
  },
  created() {
    this.listDataUser();
  },
  computed: {
    ...mapState({
      listUserData: (state) => state.storeUser.listDataUser,
    }),
  },
};
</script>

<style>
.el-alert {
  margin: 20px 0 0;
}
.el-alert:first-child {
  margin: 0;
}
</style>
