<template>
  <div>
    <Header />
    <router-view />
    <div style="background-color: #f6f6f6">
      <Footer />
    </div>
  </div>
</template>

<script>
import Header from "@/components/layout/views/Header";
import Footer from "@/components/layout/views/Footer";

export default {
  name: "Layout",
  components: {
    Header,
    Footer,
  },
};
</script>

<style></style>
