<template>
  <div class="content-wrapper">
    <el-form
      ref="refChangePassword"
      :model="dataChangePassword"
      :rules="rules"
      label-width="150px"
      style="max-width: 460px"
    >
      <el-form-item label="Mật khẩu cũ" prop="old_password">
        <el-input v-model="dataChangePassword.old_password" type="password" />
      </el-form-item>
      <el-form-item label="Mật khẩu mới" prop="password">
        <el-input v-model="dataChangePassword.password" type="password" />
      </el-form-item>
      <el-form-item label="Nhập lại mật khẩu" prop="confirm_password">
        <el-input v-model="dataChangePassword.confirm_password" type="password" />
      </el-form-item>
      <el-form-item>
        <el-button
          type="primary"
          :disabled="
            submitChangePassword ||
            !dataChangePassword.old_password ||
            !dataChangePassword.password ||
            !dataChangePassword.confirm_password
          "
          @click="editPassWordUser('refChangePassword')"
        >
          Sửa
        </el-button>
      </el-form-item>
    </el-form>
    <br />
  </div>
</template>
<script>
import Helper from "@/helpers";
import { mapMutations } from "vuex";
import { LOADING } from "@/utils/constant";

export default {
  name: "ChangePassword",
  data() {
    return {
      rules: {
        old_password: [
          {
            required: true,
            message: "Vui lòng nhập mật khẩu cũ",
          },
        ],
        password: [
          {
            required: true,
            message: "Vui lòng nhập mật khẩu mới",
          },
        ],
        confirm_password: [
          {
            required: true,
            message: "Vui lòng nhập lại mật khẩu mới",
          },
        ],
      },
      informationUser: JSON.parse(window.localStorage.getItem("authLogin")),
      dataChangePassword: {},
      submitChangePassword: false,
    };
  },
  methods: {
    ...mapMutations({
      showLoading: LOADING,
    }),
    async editPassWordUser(formName) {
      this.$refs[formName].validate(async (valid) => {
        if (valid) {
          this.showLoading(true);
          this.submitChangePassword = true;
          try {
            await this.$store.dispatch("storeAuth/changePasswordAccount", {
              vue: this,
              payload: this.dataChangePassword,
            });
            Helper.handleSuccess(this, "Đổi mật khẩu mới thành công");
          } catch (error) {
            if (error.response) {
              await Helper.handleError(this, error.response);
            }
          }
          this.submitChangePassword = false;

          return this.showLoading(false);
        }

        return false;
      });
    },
  },
};
</script>
