<template>
  <div class="container-login center-div-ui">
    <div class="row signin-content-login">
      <div class="col-6">
        <figure class="text-center">
          <router-link :to="{ path: '/home' }">
            <input
              type="image"
              src="https://i.imgur.com/bYFwtX7.jpg"
              alt="description of image"
            />
          </router-link>
        </figure>
        <router-link :to="{ path: '/register' }">
          <p class="text-center">Tạo một tài khoản</p>
        </router-link>
      </div>
      <div class="col-6" style="padding: 0 100px">
        <h2 class="mb-5">Đăng nhập</h2>
        <el-form
          class="mb-5"
          ref="dataAccountLogin"
          :model="dataAccountLogin"
          :rules="rules"
        >
          <InputField
            propInput="email"
            typeInput="text"
            v-model="dataAccountLogin.email"
            placeholderInput="Tài khoản"
          />
          <InputField
            propInput="password"
            typeInput="password"
            :openVisibility="true"
            v-model="dataAccountLogin.password"
            placeholderInput="Mật khẩu"
          />
        </el-form>

        <ButtonField
          class="button__sign-up"
          classButton="btn btn-primary button__sign-up"
          nameButton="Đăng nhập"
          typeButton="primary"
          :disabledButton="
            submitLogin || !dataAccountLogin.email || !dataAccountLogin.password
          "
          @click="actionLogin('dataAccountLogin')"
        />
      </div>
    </div>
  </div>
</template>

<script>
import Helper from "@/helpers/index";
import { LOADING } from "@/utils/constant";
import { mapState, mapMutations } from "vuex";
import validateForm from "@/utils/validateForm";
import InputField from "@/components/common/views/InputField";
import ButtonField from "@/components/common/views/ButtonField";

export default {
  name: "Login",
  components: {
    InputField,
    ButtonField,
  },
  data() {
    return {
      rules: {
        email: [{ validator: this.checkEmail }],
        password: [{ validator: this.checkPassword }],
      },
      dataAccountLogin: {
        email: "",
        password: "",
      },
      submitLogin: false,
    };
  },
  methods: {
    ...mapMutations({
      showLoading: LOADING,
    }),
    async actionLogin(formName) {
      this.$refs[formName].validate(async (valid) => {
        if (valid) {
          this.showLoading(true);
          this.submitLogin = true;
          try {
            await this.$store.dispatch("storeAuth/loginAccount", {
              vue: this,
              payload: this.dataAccountLogin,
              isAdmin: true,
            });
            window.localStorage.setItem(
              "x-Project-token",
              this.loginData.access_token
            );
            window.localStorage.setItem(
              "authLogin",
              JSON.stringify(this.loginData.user)
            );
            Helper.handleSuccess(this, "Đăng nhập hệ thống thành công");
            await this.$router.push({ path: "/" });
          } catch (error) {
            if (error.response) {
              await Helper.handleError(this, error.response);
            }
          }
          this.submitLogin = false;

          return this.showLoading(false);
        }
        return false;
      });
    },
  },
  mixins: [validateForm],
  computed: {
    ...mapState({
      loginData: (state) => state.storeAuth.loginData,
    }),
  },
};
</script>

<style src="@/assets/css/auth.css"></style>
