<template>
  <div class="content-wrapper">
    <el-form
      ref="refInformationUser"
      :model="informationUser"
      :rules="rules"
      label-width="200px"
      style="max-width: 460px"
    >
      <el-form-item label="Name" prop="name">
        <el-input v-model="informationUser.name" type="text" />
      </el-form-item>
      <el-form-item label="Email" prop="email">
        <el-input v-model="informationUser.email" type="text" />
      </el-form-item>
      <el-form-item label="Phone Number" prop="phonenumber">
        <el-input v-model="informationUser.phone_number" type="text" />
      </el-form-item>
      <el-form-item>
        <el-button
          type="primary"
          :disabled="
            submitInformationUser ||
            !informationUser.name ||
            !informationUser.email ||
            !informationUser.phone_number
          "
          @click="editDataUsers('refInformationUser')"
        >
          Sửa
        </el-button>
      </el-form-item>
    </el-form>
    <br />
  </div>
</template>

<script>
import Helper from "@/helpers";
import { mapMutations } from "vuex";
import { LOADING } from "@/utils/constant";

export default {
  name: "Profile",
  data() {
    return {
      rules: {
        name: [
          {
            required: true,
            message: "Vui lòng nhập tên",
          },
        ],
        email: [
          {
            required: true,
            message: "Vui lòng nhập email",
          },
        ],
        phonenumber: [
          {
            required: true,
            message: "Vui lòng nhập số điện thoại",
          },
        ],
      },
      informationUser: JSON.parse(window.localStorage.getItem("authLogin")),
      submitInformationUser: false,
    };
  },
  methods: {
    ...mapMutations({
      showLoading: LOADING,
    }),
    async editDataUsers(formName) {
      this.$refs[formName].validate(async (valid) => {
        if (valid) {
          this.showLoading(true);
          this.submitInformationUser = true;
          try {
            await this.$store.dispatch("storeUser/editUser", {
              vue: this,
              dataEditUsers: this.informationUser,
              id: this.informationUser.id,
            });
            window.localStorage.setItem(
              "authLogin",
              JSON.stringify(this.informationUser)
            );
            Helper.handleSuccess(
              this,
              "Thay đổi thông tin người dùng thành công"
            );
          } catch (error) {
            if (error.response) {
              await Helper.handleError(this, error.response);
            }
          }
          this.submitInformationUser = false;

          return this.showLoading(false);
        }

        return false;
      });
    },
  },
};
</script>

<style></style>
