<template>
  <div class="container-login center-div-ui">
    <div class="row signin-content-login">
      <div class="col-6" style="padding: 0 100px">
        <h2 class="mb-5">Đăng ký</h2>
        <el-form
          ref="dataAccountRegister"
          :model="dataAccountRegister"
          :rules="rules"
        >
          <InputField
            propInput="name"
            typeInput="text"
            v-model="dataAccountRegister.name"
            placeholderInput="Tên của bạn"
          />
          <InputField
            propInput="email"
            typeInput="text"
            v-model="dataAccountRegister.email"
            placeholderInput="Email của bạn"
          />
          <InputField
            propInput="password"
            typeInput="password"
            :openVisibility="true"
            v-model="dataAccountRegister.password"
            placeholderInput="Mật khẩu"
          />
          <InputField
            propInput="repeatPassword"
            typeInput="password"
            :openVisibility="true"
            v-model="dataAccountRegister.repeatPassword"
            placeholderInput="Nhập lại mật khẩu"
          />
        </el-form>

        <div class="form-check mb-5">
          <input class="form-check-input" type="checkbox" />
          <label>Tôi đồng ý tất cả các điều khoản dịch vụ</label>
        </div>

        <ButtonField
          class="button__sign-up"
          classButton="btn btn-primary button__sign-up"
          nameButton="Đăng ký"
          typeButton="primary"
          :disabledButton="
            submitLogin ||
            !dataAccountRegister.email ||
            !dataAccountRegister.password
          "
          @click="actionRegister('dataAccountRegister')"
        />
      </div>
      <div class="col-6">
        <figure class="text-center">
          <input
            type="image"
            src="https://i.imgur.com/Go3mwjw.jpg"
            alt="description of image"
          />
        </figure>
        <router-link :to="{ path: '/login' }">
          <p class="text-center">Tôi đã là thành viên</p>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
import Helper from "@/helpers";
import { LOADING } from "@/utils/constant";
import { mapState, mapMutations } from "vuex";
import validateForm from "@/utils/validateForm";
import InputField from "@/components/common/views/InputField";
import ButtonField from "@/components/common/views/ButtonField";

export default {
  name: "Register",
  components: {
    InputField,
    ButtonField,
  },
  data() {
    const checkConfirmPassword = (rule, value, callback) => {
      if (value !== this.dataAccountRegister.password) {
        callback(new Error("Mật khẩu mới và mật khẩu xác nhận không khớp"));
      } else {
        callback();
      }
    };
    return {
      rules: {
        name: [{ validator: this.checkName }],
        email: [{ validator: this.checkEmail }],
        password: [{ validator: this.checkOldPasswordWithNewPassword }],
        repeatPassword: [{ validator: checkConfirmPassword }],
      },
      dataAccountRegister: {
        name: "",
        email: "",
        password: "",
        repeatPassword: "",
      },
      submitLogin: false,
    };
  },
  methods: {
    ...mapMutations({
      showLoading: LOADING,
    }),
    async actionRegister(formName) {
      this.$refs[formName].validate(async (valid) => {
        if (valid) {
          this.showLoading(true);
          this.submitLogin = true;
          try {
            await this.$store.dispatch("storeAuth/registerAccount", {
              vue: this,
              payload: this.dataAccountRegister,
            });
            window.localStorage.setItem(
              "x-Project-token",
              this.registerData.access_token
            );
            window.localStorage.setItem(
              "authLogin",
              JSON.stringify(this.registerData.user)
            );
            Helper.handleSuccess(this, "Đăng ký tài khoản thành công");
            await this.$router.push({ path: "/" });
          } catch (error) {
            if (error.response) {
              await Helper.handleError(this, error.response);
            }
          }
          this.submitLogin = false;

          return this.showLoading(false);
        }
        return false;
      });
    },
  },
  mixins: [validateForm],
  computed: {
    ...mapState({
      registerData: (state) => state.storeAuth.registerData,
    }),
  },
};
</script>

<style src="@/assets/css/auth.css"></style>
